# Country prices and tiles sold
[Earth2.io](https://Earth2.io) is an emerging game that aims to create a virtual copy of the Earth's landscape (buildings will be wiped out) where players can build, interact and play. It's accessible as an in-browser experience and it plans to have augmented reality and virtual reality versions. Learn more about E2 in the [Earth2 Guide](https://earth2.guide). 

This notebook describes the unofficial API which allows downloading current prices and the number of tiles sold in each country in Earth 2.

In the game, you can purchase a tile of approx. 10x. In the later stages, you will be able to build your desired things for fun or business. Every tile in the country costs the same. US West Coast price is equal to US East Coast price when you buy a new tile that is not yet claimed by other players. There is also a [marketplace](https://earth2.guide/marketplace) where you can offer your land for sale or buy from others. 

Some dependant territories falls under the international territory with the same price around the world. The United Arab Emirates were the latest country release in March-2021 and price differ in each of the 7 Emirates.

In [1]:
import requests
import pandas as pd
import json

In [2]:
url = "https://app.earth2.io/graphql"
data = {"query":"{\ngetAllTilePrices{\ncurrent,\nfinal,\nvalue,\ncountryCode,\ncountryName,\ncountryFlag,\npercentIncrease,\ntotalTilesSold\n}\n}"}

In [3]:
r = requests.post(url, data=data)
data = json.loads(r.content)

In [4]:
df = pd.DataFrame(data["data"]["getAllTilePrices"])
df = df.rename(columns={"current":"market_price","final":"new_land_value"})

Some dependant territories fall under the international territory.

In [5]:
# Change dependant territories to the international space
international_territory = ["MP", "MO", "PM", "PR", "MF", "PF", "AE", "CW", "AW", "TF", "VI", "SX", "NC", "BL", "GF",
                               "BV", "UM", "CC", "CX", "GU", "TK", "AS", "WF"]
df = df[~df["countryCode"].isin(international_territory)]

Some countries were not released yet and you cannot buy the land there. It has the initial price tag on 10 cents.

In [6]:
# Remove the E$0.1 countries that were not released yet
not_active = ["AE","BQ","IR","YT","GP","AX","RE","MQ","IQ","IL","SA","SJ"]
df = df[~df["countryCode"].isin(not_active)]

Let's sort the values by new_land_value. Some tiny countries like Vatican or Monaco were already sold out and you can buy them only on the [marketplace](https://earth2.guide/marketplace). The most expensive country is USA.

In [7]:
df.sort_values(by="new_land_value")

,market_price,new_land_value,value,countryCode,countryName,countryFlag,percentIncrease,totalTilesSold
98,0.457,0.457,0.457,NU,Niue,https://app-static.earth2.io/assets/flags/nu.png,357.00,152254
201,0.459,0.459,0.459,NF,Norfolk Island,https://app-static.earth2.io/assets/flags/nf.png,359.00,152951
177,0.600,0.462,0.600,MS,Montserrat,https://app-static.earth2.io/assets/flags/ms.png,500.00,153598
42,0.577,0.464,0.577,IO,British Indian Ocean Territory,https://app-static.earth2.io/assets/flags/io.png,476.92,153713
96,0.466,0.466,0.466,AI,Anguilla,https://app-static.earth2.io/assets/flags/ai.png,366.00,154366
...,...,...,...,...,...,...,...,...
51,130.000,11.570,130.000,VA,Holy See,https://app-static.earth2.io/assets/flags/va.png,129900.00,146
38,13.559,13.559,13.559,GB,United Kingdom,https://app-static.earth2.io/assets/flags/gb.png,13459.00,471420
120,16.229,16.229,16.229,IT,Italy,https://app-static.earth2.io/assets/flags/it.png,16129.00,509935
80,16.573,16.573,16.573,KR,South Korea,https://app-static.earth2.io/assets/flags/kr.png,16473.00,511812
243,54.924,54.924,54.924,US,United States of America,https://app-static.earth2.io/assets/flags/us.png,54824.00,600177

See the result of this calculation on the [Earth2 Country prices overview](https://earth2.guide/country_statistics/).

**Beware** that you spend real money in this game. I cannot provide any financial advice, because I'm not a financial advisor. The game is **not** controlled by any agency. Don't spend the money you cannot lose.